@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
:root {
  --barlow-font: "Barlow", sans-serif;
  --fraunces-font: "Fraunces", serif;
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  /*graphic design text*/
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  /*photography text*/
  --dark-blue: hsl(198, 62%, 26%);
  /*footer*/
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --header-bg: #3ebfff;
  --footer-bg: #8ed0c4;
  --container-bg: #fffbf8;
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-drak-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 18px;
}
/* img {
  display: block;
} */

.logo {
  width: 9.5rem;
  max-width: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  box-sizing: border-box;
  min-height: 100vh;
 
}
body::-webkit-scrollbar,
.menu-section {
   display: none; /* for Chrome, Safari, and Opera */
}

/* Header */
header {
  background-image: url("images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 
}

nav {
  position: relative;
  padding: 2rem 2.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 100%; */
}


.contact {
  display: inline-block;
  border-radius: 25px;
  background-color: var(--yellow);
  border-width: 1px;
  color: var(--very-dark-desaturated-blue);
  font-family: var(--fraunces-font);
  text-transform: uppercase;
  padding: 0.9rem 1.5rem;
  font-weight: 900;
  font-size: 0.9rem;
  margin-right: 0.4rem;
}
.menu{
  display: flex;
  padding: 0px 58px;
  gap: 20px;
}
.menu-section.shown .menu a {
  color: var(--grayish-blue);
  font-family: var(--barlow-font);
  text-align: center;
}

.fa-solid {
  color: var(--white);
  font-size: 1.6rem;
  /* display: inline; */
  cursor: pointer;
}

.header-img{
  width: 100%;
}
.header-img img{
  width: 100%;
  
}
.header-img h1{
    font-size: 2.3rem;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--header-bg);
    font-family: var(--fraunces-font);
    text-align: center;
  /* min-height: 50%; */
  /* background-color: var(--container-bg); */
}
/*  Transform Section */
.transform{ 
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.transform section{
  display: flex;
  text-align:left;
  align-items: center;
  justify-content: center;
  margin: auto;
}

section{
  width: 50%;
}
.section-content{
  width: 70%;
  padding: 40px;
}
.transform-section-img{
  width: 50%;
}
.transform-section-img img{
  width: 100%;
}
.standout-section{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row-reverse;
}
.standout-section section{
  width: 50%;
}
.standout-section-content{
  width: 70%;
  padding: 40px;
  text-align: left;
}
.standout-section-img {
  width: 50%;
}
.standout-section-img img{
  width: 100%;
}

.transform h2,
.standout-section h2 {
  font-family: var(--fraunces-font);
  color: var(--very-dark-desaturated-blue);
  font-size: 2.4rem;
  font-weight: 900;
}

.transform h2 {
  word-spacing: -1px;
  letter-spacing: -2px;
}

.standout-section h2 {
  word-spacing: 1.2px;
  letter-spacing: -2px;
}

.transform p,
.standout-section p {
  font-family: var(--barlow-font);
  color: var(--dark-grayish-blue);
  line-height: 30px;
  padding:10px 0px;
}

.transform a,
.standout-section a {
  position: relative;
  text-transform: uppercase;
  color: var(--very-dark-desaturated-blue);
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 0.9rem;
  margin: 0 auto;
  margin-top: 1rem;
}

/* Graphic Design & Photography */

.section-3 {
  display: flex;
  flex-direction: column;
}
/* .graphic-design {
  background-image: url("images/mobile/image-graphic-design.jpg");

} */

/* .photography-section {
  background-image: url("images/mobile/image-photography.jpg");
} */
.graphic-desig{
  position: relative;
  text-align: center;
  width: 45%;
}
.photography-section{
  position: relative;
  text-align: center;
  width: 50%;
}
.photography-section img{
  width: 100%;
}
.graphic-design img{
  width: 100%;
}

.graphic-design,.photography-section, .text-content {
  color: var(--dark-desaturated-cyan);
  display: flex;
  align-items: center;
  justify-content: center;

}
.text-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* top: 61%; */
  margin-top: 20%;
}
.graphic-design .text-content {
  color: var(--dark-desaturated-cyan);
}
.photography-section .text-content {
  color: var(--dark-blue);
  width: 100%;
}
.graphic-design h2,
.photography-section h2 {
  font-family: var(--fraunces-font);
  font-weight: 900;
  text-transform: capitalize;
}
.photography-section h2{
  margin-top: 109px;
}
.graphic-design p,
.photography-section p {
  font-family: var(--barlow-font);
  width: 46.9%;
  margin: 0 auto;
  font-size: 0.9rem;
  line-height: 1.4rem;
  text-align: center;
}

/* Testimonials */
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4.5rem;
  padding: 60px 0px;
  text-align: center;
  background-color: var(--container-bg);
}

.testimonials h3 {
  font-family: var(--fraunces-font);
  color: var(--grayish-blue);
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 20px 0px;
}
.profiles {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 20px 0px;
  width: 75%;
  gap: 30px;
}
.profiles {
  gap: 2rem;
}
.profile {
  gap: 3.1rem;
}

.profile img {
  border-radius: 50%;
  object-fit: cover;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
}

.feedback {
  font-family: var(--barlow-font);
  color: var(--dark-grayish-blue);
  line-height: 1.8rem;
  font-weight: 600;
}

.author-block {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding-top: 0.7rem;
  text-align: center;
  align-items: center;
}
.profile-author {
  font-family: var(--fraunces-font);
  font-size: 1rem;
  font-weight: 900;
}
.author-job {
  font-family: var(--barlow-font);
  font-size: 0.8rem;
  color: var(--grayish-blue);
}
/* Image Grid */
.image-grid {
  display: flex;
  align-items: center;
  width: 30%;
}

/* Footer */
footer {
  color: var(--dark-moderate-cyan);
  background-color: var(--footer-bg);
  text-align: center;
  gap: 2.5rem;
  padding: 4rem 1.2rem;
  
}

.footer-menu{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 30px 0px;
}
.social-media{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 30px 0px;
}
.footer-menu a {
  color: var(--dark-moderate-cyan);
  font-family: var(--barlow-font);
}


@media screen and (min-width: 767px) {
  
  Responsive Images 
  
  .transform-section-img {
    background-image: url("images/desktop/image-transform.jpg");
  }

  .standout-section-img {
    background-image: url("images/desktop/image-stand-out.jpg");
  }
  .milk {
    background-image: url("images/desktop/image-gallery-milkbottles.jpg");
  }

  .orange {
    background-image: url("images/desktop/image-gallery-orange.jpg");
  }

  .cone {
    background-image: url("images/desktop/image-gallery-cone.jpg");
  }

  .sugar {
    background-image: url("images/desktop/image-gallery-sugarcubes.jpg");
  }

  Menu
  .menu-section {
    position: relative;
    display: flex;
    flex-direction: row; 
    align-items: center;
    position: relative;
  }

  .menu a {
    color: var(--white);
    font-family: var(--barlow-font);
  }
  .contact {
    display: inline-block;
    border-radius: 25px;
    background-color: var(--white);
    border-width: 1px;
    color: var(--very-dark-desaturated-blue);
    font-family: var(--fraunces-font);
    text-transform: uppercase;
    padding: 0.9rem 1.5rem;
    font-weight: 900;
    font-size: 0.9rem;
    position: static;
    margin-right: 0.4rem;
  }

  .contact {
    display: initial;
  }
  .fa-solid {
    display: none;
  }

  h1 {
    font-size: 3rem;
  }

  .section-3 {
    flex-direction: row;
  }

  .profiles {
    flex-direction: row;
  }
  .profiles {
    gap: initial;
  }
  
}

/* @media screen and (min-width: 1025px) {
  .transform a:after {
    width: 45%;
  }
  .standout-section a:after {
    width: 45%;
  }
  .standout-section section {
    padding: 8.7rem 6rem;
  }

  .text-content {
    gap: 1.8rem;
  }
  .testimonials {
    padding: 8.9rem;
  }
}
 */

